.valid, .invalid{
    border: 2px solid;
}
.valid {
    border-color: rgb(0, 255, 0);
}
.invalid {
    border-color: rgb(255, 0, 0);
    position: relative;
}
.error-message{
    display: block;
    visibility: hidden;
    color: red;
    font-size: small;
}
.invalid + .error-message{
    display: block;
    visibility: visible;
}